/* = Print Layout */
@page {
	margin: .75in;
}
body {
  font-size: 12pt;
	margin: 0 auto;
	width: 6.5in;
  position: relative;
}
a {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	page-break-inside: avoid;
	page-break-after: avoid;
}
p, ol, ol, dl, pre {
	orphans: 3;
	widows: 3;
}

/* Discarded */
nav {
  display: none;
}